.portfolio-detail-header {
    height: 600px;
    margin-top: 4rem;
    border-radius: var(--border-radius-md);
    display: flex;
    justify-content: space-between;
}

.article {
    width: fit-content;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.article>div:first-of-type {
    text-transform: uppercase;
    gap: 0.7rem;
    color: var(--accent-color);
    font-size: 0.9rem;
}

.article>div:first-of-type a {
    color: var(--accent-color);
}

.article h2 {
    letter-spacing: 2px;
    font-family: var(--heading);
    font-size: 3.8rem;
    font-weight: 500;
}

.article hr {
    width: 45px;
    border: 1.5px solid var(--accent-color);
}

.article>p {
    line-height: 2;
    color: var(--white-secondary);
    width: 75%;
}

.article>div:first-of-type,
.info>div {
    display: flex;
    align-items: center;
}

.info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info>div {
    gap: 1rem;
}

.info>div i {
    font-size: 1.5rem;
    color: var(--accent-color);
}

.info>div>div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.9rem;
}

.info>div>div>span:last-of-type {
    color: var(--white-muted);
}

.portfolio-detail-header>div {
    width: 100%;
    height: 100%;
}

.portfolio-detail-header img {
    position: relative !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

@media (max-width: 1024px) {
    .portfolio-detail-header {
        height: fit-content;
        margin-top: 2.5rem;
        border-radius: 0;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 0;
    }

    .article {
        width: 100%;
        border-radius: 0;
    }

    .article h2 {
        font-size: 3.5rem;
        word-wrap: break-word;
    }

    .portfolio-detail-header>div {
        height: 100vh;
    }

    .portfolio-detail-header img {
        border-radius: 0;
    }
}