.card {
    max-width: 450px;
    width: fit-content;
    padding: 1.5rem;
    border-radius: var(--border-radius-lg);
    border: 1px solid #f0c98a3b;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.164), 0 0 2px #f0c98a3b;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    background-color: var(--secondary-color);
}

.card p {
    display: flex;
    gap: 1rem;
    line-height: 1.7;
    color: var(--white-secondary);
}

.card>p i {
    font-size: 2rem;
    color: var(--accent-color);
}

.card>div {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 1rem;
    justify-content: space-between;
}

.review-stars {
    height: 20px;
    object-fit: contain;
    width: fit-content;
}
