@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --heading: "Cormorant Garamond", serif;
  --body: "Montserrat", sans-serif;
  --bg-color: #0B0D0E;
  --secondary-color: #15191B;
  --accent-color: #D8A45E;
  --highlight-color: #F0C98A;
  --white-primary: #FFFFFF;
  --white-secondary: #C7C7C7;
  --white-muted: #8A8F94;
  --font-size: 1rem;
  /* --gradient: linear-gradient(135deg,#D5A76A,#A87545); */
  --gradient: linear-gradient(-215deg, #D8A45E 30%, #F0C98A);
  --spacing-y: 2rem;
  --spacing-x: 3rem;
  --border-radius-sm: 7px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--body);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--white-primary);
}

button:hover, a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-primary);
}

h1,
h2 {
  font-family: var(--heading);
}

h2 {
  font-size: calc(var(--font-size) * 2.5);
}

hr {
  width: 40px;
  border-color: var(--highlight-color)
}

label {
  display: block;
  font-size: 0.9rem;
}

label span {
  color: orange;
}

input,
select,
textarea {
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.247);
  border: 1px solid rgba(255, 255, 255, 0.062);
  box-shadow: 0 0 4px rgba(235, 229, 229, 0.068);
}

input[type="checkbox"],
input[type="radio"] {
  width: fit-content;
}

input,
select,
input::placeholder,
textarea {
  font-family: var(--body);
  color: var(--white-muted);
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1rem;
}

select option {
  background-color: var(--secondary-color);
}
