.footer {
    padding: var(--spacing-y) var(--spacing-x);
}

.footer>div {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
    line-height: 2;
}

.footer>div>div {
    width: auto
}

.footer>div>div:nth-child(1)>a:first-of-type {
    line-height: normal;
    color: white;
}

.footer>div>div:nth-child(1) p {
    margin-top: 1.2rem;
    width: 80%;
}

.footer p,
.footer a {
    color: var(--white-secondary);
}

.footer h3 {
    text-transform: uppercase;
    font-family: var(--heading);
    line-height: normal;
    margin-bottom: 1rem;
}

.footer .socials {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.4rem;
}

.footer>p {
    border-top: 2px solid rgba(245, 245, 245, 0.082);
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

@media (max-width: 1024px) {
    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer>div>div:nth-child(1) p {
        width: 100%;
    }
}