.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    position: absolute;
    z-index: 100;
    /* background-color: rgba(0, 0, 0, 0.822); add color on scroll*/
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}